body{
    margin:0%;
    font-family: 'Poppins', sans-serif;
}
.name-color{
    color: rgba(255, 0, 85, 0.664);
}
h2{
    font-weight: 500;
}
h1{
    font-size: 40px;
}
p{
    color: dimgray;
}
.intro{
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 10%;
}
.intro img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(45deg,mediumvioletred,orchid,mediumvioletred);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.intro-head{
    background-image: url("personal-website/header-bg.png");
}
.biography img{
    width: 100%;
}
section{
    height: 865px;
    padding-bottom: 10px;
}
.biography{
    width: 30%;    
    float: left;
    margin-left: 13%;
}
.bio{
    text-decoration: none;
    background-image: linear-gradient(45deg,mediumvioletred,orchid,mediumvioletred);
    padding: 15px 15px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.bio-middle{
    background-image: url("personal-website/biography-bg.png");
}
.title{
    text-align: center;
    margin-top: 8%;
}
.latest-work{ 
    display: inline-block;
    width: 450px;
    margin-left: 7%;
    margin-top: 4%;
    padding: 5px;  
}
.latest-work img{
    height: 350px;
    width: fit-content;
}
.bg-latest{
    background-image: url("personal-website/latest-work-bg.png");
    background-position: center;
    background-repeat: no-repeat;  
}
#sec{
    height: 673px;
}
.align{
    text-align: center;
}
#edit{
    margin-bottom: 5%;
    margin-top: 2%;
}
.box{
    text-align: center;
    background-color: rgba(233, 18, 107, 0.849);
    border-radius: 10px;
    color: white;
    padding: 30px ;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
}
#font{
    font-weight: 100;
}
#font2{
    font-size: 150%;
    font-weight: 150;
}
.bg-foot{
    background-image: url(personal-website/footer-bg.png);
    background-position: bottom;
}
#align2{
    height: 930px;
}